<header>
  <div
    class="d-flex align-items-center justify-content-between h-100 w-100 ps-2 pe-3 gap-3 brand-bg-blue"
  >
    <div class="d-flex align-items-center hand">
      <i class="fas fa-navicon me-2 menu-toggler" (click)="toggleMenu()"></i>
      <span [routerLink]="['dashboard']"> SNSOP MIS</span>
    </div>
    <div class="d-flex align-items-center justify-content-end gap-3">
      @if(userData){
      <a class="text-light" [routerLink]="['profile']">
        <i class="fas fa-user me-2"></i>
        {{userData.username}}
      </a>
      <p-button
        severity="danger"
        size="small"
        ripple
        icon="fas fa-sign-out"
        (onClick)="confirmLogout()"
      />
      }@else{
      <i class="far fa-user-circle fa-lg"></i>
      }
    </div>
  </div>

  <p-confirmDialog></p-confirmDialog>
</header>
