<div class="sidemenu {{showOnMobile ? 'mobile' : ''}}">
  <p-panelmenu [model]="items" styleClass="w-100">
    <!-- <ng-template #item let-item>
            <a pRipple class="d-flex align-items-center justify-content-between">
                <div>
                    <i [class]="item.icon + ' text-primary'"></i>
                    <span class="ms-2">
                        {{ item.label }}
                    </span>
                </div>
                <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge" />
            </a>
        </ng-template> -->
  </p-panelmenu>
</div>
