.error-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  overflow: hidden;

  .message {
    color: #eeaa52;
  }
  .code {
    color: rgb(32 75 160);
  }

  .back-to-home {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 20px;
    transition: 0.3s;
    border-bottom: 1px dashed #dddddd;

    &:hover {
      cursor: pointer;
      color: rgb(37, 112, 224);
      border-bottom: 1px dashed rgb(37, 112, 224);
    }
  }
}
