.custom-bg{
    background: url('../../../../../public/images/login_background_cover.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
}

.brand-bg-blue {
    background-color: #208fe9;
}
